@import "vars";
@import "mediaqueries";

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font: 400 16px/28px $font-family-primary;
  letter-spacing: 0.2px;
  background: $white;
  min-width: 375px;
  color: $text-default;
}

video {
  border: 0;
  outline: none;
}

figure {
  margin: 0;
}

img {
  outline: none;
  max-width: 100%;
}

.container {
  width: 1270px;
  max-width: 100%;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}


._bold {
  font-weight: 700;
}

.show {
  display: block!important;
}

.hide {
  display: none!important;
}

.text-right {
  text-align: right;
}

.title {
  line-height: 1.2;
  font-weight: 600;

  h2,
  &--h2 {
    font-size: 36px;
    margin: 0 0 40px;
    color: $gray-dark;
  }

}

.more-link {
  text-decoration: none;
  font-style: italic;
  font-weight: 300;
  color: $black;

  &:hover {
    text-decoration: underline;
  }
}