
// colors
//brand
$primary-orange-01: #FF7E55;
$primary-orange-02: #FF8B55;
$primary-orange-03: #FF7055;
$primary-blue-01: #A3E4FF;


//neurtal
$white: #ffffff;
$black: #000000;

$gray-dark: #3C3C3B;
$text-default: #505152;
$gray-e5: #E5E5E5;
$gray-c4: #C4C4C4;
$old-lace: #FDFAE9;


//accent
$accent-blue: #6EACD1;
$accent-green: #3CB376;
$accent-red: #DF4A7F;


//FONTS

$font-family-primary: 'Montserrat', sans-serif;
$font-family-acent: 'Forum', cursive;
