.about-us {
    margin-bottom: 170px;
    
    .container {
        width: 100%;

        @media (min-width: $tabletMin) {
            width: 690px;
        }

        @media (min-width: $desktop) {
            width: 1270px;
        }
    }

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        @media (min-width: $desktop) {
            flex-wrap: nowrap;
        }
    }

    &__col {
        width: 100%;
        @media (min-width: $desktop) {
            width: 50%;
        }

        &--text {
            position: relative;
            margin-bottom: 30px;

            @media (min-width: $desktop) {
                margin-bottom: 0;
                max-width: 510px;
            }

            &:after {
                z-index: -1;
                content: '';
                display: block;
                position: absolute;
                bottom: -90px;
                right: -50px;
                width: 280px;
                height: 200px;
                background-image: url('../../img/tree.svg');
                background-size: contain;
                background-repeat: no-repeat;
        
                @media (min-width: $tabletMin) {
                    bottom: -130px;
                    width: 515px;
                    height: 370px;
                    right: -150px;
                }
                @media (min-width: $desktop) {
                    bottom: -117px;
                }
            }

            p {
                margin-bottom: 15px;
                color: $black;
                @media (min-width: $tabletMin) {
                    margin-bottom: 30px;
                }
            }
        }

        &--img {
            padding: 15px 15px 0 0;
            margin-bottom: 30px;
            order: 2;

            @media (min-width: $tabletMin) {
                padding: 60px 30px 0 0;
            }

            @media (min-width: $desktop) {
                padding: 30px 30px 0 0;
                order: 0;
            }
        }
    }
}

.about-us-picture {
    background-color: $primary-orange-01;
    border-radius: 30px;
    position: relative;

    @media (min-width: $desktop) {
        margin-right: auto;
    }

    img {
        display: block;
        width: 100%;
        border-radius: 30px;
        transform: translate(15px, -15px);

        @media (min-width: $tabletMin) {
            transform: translate(30px, -30px);
        }
    }
}