.dream-descroption {
    margin-bottom: 90px;

    &__row {
        background: rgba(253, 250, 233, 0.5);
        box-shadow: 0 0 10px 0 rgba(0,0,0,.15), 0 2px 4px 0 rgba(0,0,0,.1);

        &:not(:last-child) {
            margin-bottom: 40px;
        }
        
        @media (min-width: $tabletMin) {
            display: flex;
        }
        
        @media (min-width: $desktop) {
            &:not(:last-child) {
                margin-bottom: 100px;
            }
        }

        &:nth-child(even) {
            .dream-descroption__col {
                &:nth-child(odd){
                    width: 100%;
                }
                &:nth-child(even){
                    width: 100%;
                }

                @media (min-width: $tabletMin) {
                    &:nth-child(odd){
                        width: 40%;
                    }
                    &:nth-child(even){
                        width: 60%;
                    }
                }
            }
        }

        &:nth-child(odd) {
            .dream-descroption__col {
                &:nth-child(odd){
                    width: 100%;
                }
                &:nth-child(even){
                    width: 100%;
                }

                @media (min-width: $tabletMin) {
                    &:nth-child(odd){
                        width: 60%;
                    }
                    &:nth-child(even){
                        width: 40%;
                    }
                }
            }
        }
    }

    &__col {
        padding: 25px 25px;
    }

    &__col--text {
        font-family: 'Caveat', cursive;
        font-size: 28px;
        line-height: 1.3;
    }

    &__picture {
        border-radius: 30px;
        overflow: hidden;
        
        img {
            transition: all 0.3s ease-out;
            &:hover {
                transform: scale(1.1);
                cursor: pointer;
            }
        }

    }

    img {
        border-radius: 30px;
    }
}