.our-results {
    position: relative;
    &:after {
        z-index: -1;
        content: '';
        display: block;
        position: absolute;
        top: -120px;
        right: 0;
        width: 200px;
        height: 255px;
        background-image: url('../../img/tree-with-gift.png');
        background-size: contain;
        background-repeat: no-repeat;

        @media (min-width: $desktop) {
            top: -300px;
            width: 426px;
            height: 542px;
        }
    }

    .title {
        margin-bottom: 50px;

        @media (min-width: $tabletMin) {
            margin-bottom: 100px;
        }
    }

    &__inner {
        padding-right: 30px;
    }
}

.video-wrapper {
    background-color: $primary-orange-01;
    border-radius: 30px;
    position: relative;
    height: 752px;
    
    
    @media (min-width: $desktop) {
        margin-right: auto;
    }


    .video {
        position: relative;
        height: 100%;
        display: block;
        object-fit: cover;
        width: 100%;
        border-radius: 30px;
        transform: translate(15px, -15px);

        @media (min-width: $tabletMin) {
            transform: translate(30px, -30px);
        }

        // &:before {
        //     z-index: 99999;
        //     content: '';
        //     display: block;
        //     position: absolute;
        //     top: 50%;
        //     left: 50%;
        //     transform: translate(-50%, -50%);
        //     width: 100px;
        //     height: 100px;
        //     background-image: url('../../img/play.png');
        //     background-size: contain;
        //     background-repeat: no-repeat;
        // }
    }
}