.product-card {
    border: 1px solid $primary-orange-01;
    border-radius: 15px;
    padding: 10px;
    transition: all 0.3s;

    &:hover {
        box-shadow: 0 0 10px 0 rgba(0,0,0,.15), 0 2px 4px 0 rgba(0,0,0,.1);
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    &__image {
        height: 200px;
        position: relative;
        overflow: hidden;

        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: block;
            width: 100%;
            border-radius: 15px;
        }

    }

    &__body {
        padding: 10px 10px 0;
    }

    &__title {
        font-size: 16px;
        font-weight: bold;
    }


    &__btn {
        margin-top: 10px;
    }
}